<main>
    @if (dataGarageServices.Garages.length != 0) {
    <table>
        <thead>
            <td>N</td>
            <td>Disponibilidad</td>
            <td>Ingreso</td>
            <td>Accion</td>
        </thead>
        <tbody>
            @for (Garage of dataGarageServices.Garages; track $index){
            <tr>
                <td>{{Garage.id}}</td>
                <td [ngClass]="{'disponible': Garage.deshabilitado, 'ocupado': !Garage.descripcion}">
                    {{ Garage.deshabilitado ? 'Disponible' : 'Ocupado' }}
                </td>
                <td>{{Garage.descripcion}}</td>
                <td>  
                    @if (Garage.deshabilitado){
                    <button (click)="disableGarage($index)">Deshabilitar</button>
                    }@else{
                    <button (click)="ableGarage($index)">Habilitar</button>
                    }
                    @if(esAdmin){
                    <button (click)="questionDeleteGarage($index)">Borrar</button>
                    }
                </td>
                }
        </tbody>
    </table>

    @if(esAdmin){
        <button (click)="AddGarage()">Agregar una cochera</button>
    }
}
</main>