<main>
    <section class="login-container">
        <section class="login">
            <header>
                <h1 class="loginTitle"> PARKING APP</h1>
                <h1 class="loginTitle"> Iniciar Sesion</h1>
            </header>
            <section class="loginContent">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <section class="loginFields">
                        <div>
                            <label for="username">Usuario </label>
                            <input type="text" id="username" placeholder="Usuario" name="usuario" ngModel required>
                        </div>
                        <div>
                            <label for="password">Contraseña</label>
                            <input type="password" id="password" placeholder="Contraseña" name="password" ngModel required>
                        </div>
                    </section>

                    <section class="loginbutton">
                        <div class="buttonLog">
                            <button [disabled]="loginForm.invalid" class="button" type="submit"><span> Iniciar Sesion </span></button>
                            @if(errorLogin){
                                <p>Erro en login</p>
                            }
                        </div>
                    </section>
                </form>
            </section>
            <footer>
                <p class="footer-description">¿Todavia no estas registrado?</p>
                <a class="buttonRegister"href="">Registrarse</a>
            </footer>
        </section>

        <section class="WelcomeLogin">
            <h2>¡Bienvenido Usuario!</h2>
        </section>

    </section>
</main>