<header>
    <div class="header-container">
        <h1>PARKING APP</h1>
        <nav>
            <a [routerLink]="['/state-garage']" routerLinkActive="link-active">Estado Cochera</a>
            @if(esAdmin){
            <a [routerLink]="['/reports']" routerLinkActive="link-active">Reportes</a>
            <a [routerLink]="['/prices']" routerLinkActive="link-active">Precios</a>
            }
            <div class="usuario">
                <a><img src="img/icons/avatar.png"></a>
                <div class="dropdown">
                    <button (click)="cerrarSesion()">Cerrar sesión</button>
                </div>
            </div>
        </nav>
    </div>
</header>
<router-outlet />